body{
    width: 1000px;
    height: 2000px;
   }

.static-box {
position: static;
background-color: lightblue;
}
.relative-box {
position: relative;
top: 20px; /* Di chuyển xuống 20px */
left: 30px; /* Di chuyển sang phải 30px */
background-color: lightgreen;
}
.relative-container {
position: relative;
width: 300px;
height: 200px;
background-color: lightgray;
}
.box1{
position: relative;
top: 20px;
left: 30px;

}
.absolute-box {
position: absolute;
top: 10px;
left: 20px;
background-color: lightpink;
padding: 10px;
}
.fixed-box {
position: fixed;
top: 10px;
right: 10px;
background-color: yellow;
padding: 10px;
}
@keyframes bounce {
    from {
      transform: translateX(0); /* Bắt đầu tại vị trí gốc */
    }
    to {
      transform: translateX(200px); /* Di chuyển sang phải 200px */
    }
  }
  .box{
    width: 100px;
    height: 100px;
    background-color: red;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease; /* Chuyển đổi mượt mà */
    transition-delay: 1s;
    /* animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  */
   }
   .box:hover{
    width: 500px;
    background-color: blue;
   }